@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
:root {
    --light: rgb(38, 51, 73);
    --bg: rgb(220, 233, 255);
    --card: rgb(202, 220, 251);
    --footer: #c9dcfd;
    --hover: #19232e;
    --dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23none' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23fff'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
::selection{
    color: var(--bg);
    background-color: var(--light);
}
html {
    scroll-behavior: smooth; 
}

* {
    font-family: karla, Helvetica, sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--light);
    margin: 0;
    position: relative;
}

.reverse {
    --bg: rgb(38, 51, 73);
    --light: #eee;
    --card: rgb(33, 45, 60);
    --footer: #212d3c;
    --hover: #ccc;
    --dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23none' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ccc'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

a {
    text-decoration: none;
    color: var(--light);
}

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: var(--light);
    justify-content: space-between;
    align-items: center;
}

nav>a {
    font-weight: 700;
    font-size: 1.5rem;
}

nav>a:hover {
    color: #fff;
}

nav ul {
    list-style: none;
    justify-self: end;
    display: flex;
    align-items: center;
}

.testimonials .cards, .servives .card, .hero a, nav ul li {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btns a::before, .btns a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

nav ul li {
    margin-left: 15px;
    padding: 5px 10px;
    display: inline-block;
}

nav ul li:nth-child(1) {
    background-color: var(--light);
}

nav ul li:nth-child(1) a {
    color: var(--bg);
}

nav svg {
    cursor: pointer;
}

.hero { 
    background: var(--dots);
    height: 90vh;
}

.hero>div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 100%));
    grid-template-rows: 90vh;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    line-height: 25px;
}

.hero a {
    background-color: var(--light);
    color: var(--bg);
    font-weight: 600;
    margin: 10px 0;
    padding: 12px 32px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #aaa;
    z-index: 2;
}

.hero a::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 8px solid;
    box-sizing: border-box;
    border-color: transparent transparent transparent var(--bg);
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.hero a:hover::after {
    right: 0%;
}

.hero a::before {
    content: "";
    background: linear-gradient(var(--hover), var(--hover)), linear-gradient(to right, var(--hover), var(--hover));
    background-position: 0% 0px, 100% 0px;
    background-size: 0 100%, 0 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.3s;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero a:hover::before {
    background-size: 50% 100%, 50% 100%;
}

.hero img {
    width: 58%;
}

/* bodybuilding */

.bodybuilding {
    background: url('img/bodybuilder.webp');
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    clip-path: polygon(0px 100px, 100% 0%, 100% calc(100% - 100px), 0% 100%);
    color: #eee;
}

.bodybuilding>div {
    position: absolute;
    background-color: rgba(31, 41, 55, 0.9);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bodybuilding>div>div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bodybuilding .app {
    font-size: 2rem;
}

.bodybuilding h2 {
    font-size: 2.5rem;
    margin: 1.75rem 0;
}

.bodybuilding p {
    width: 80%;
    line-height: 25px;
}

.bodybuilding .btns {
    margin: 2.5rem 0;
}

.btns a {
    background-color: #eee;
    color: rgb(27, 28, 36);
    font-weight: 700;
    padding: .7rem 1rem;
    margin-right: 0.5rem;
    transition: all .3s ease-in;
    box-shadow: 0px 0px 5px #eee;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btns a::before {
    content: "";
    background: linear-gradient( to top, rgb(38, 51, 73) 60%, rgb(58, 82, 124)), linear-gradient( rgb(38, 51, 73) 60%, rgb(58, 82, 124));
    background-position: 0% 0%, 0% 100%;
    background-size: 100% 0%, 100% 0%;
    background-repeat: no-repeat;
    position: absolute;
    transition: .3s;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.btns a:hover::before {
    background-size: 100% 50%, 100% 50%;
}

.btns a:hover {
    color: #eee;
}

.btns img {
    width: 20px;
    margin: 0 5px;
    vertical-align: bottom;
}

/* servives */

.servives {
    width: 80%;
    display: flex;
    margin: 0 auto;
    min-height: 90vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.servives h2 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 2rem 0;
}

.servives>div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
}

.servives .card {
    margin: 1rem;
    background-color: var(--card);
    padding: 1rem;
    box-shadow: 2px 2px 5px rgb(74, 95, 123);
    cursor: pointer;
    transition: 0.3s;
}

.servives .card:hover {
    box-shadow: 0px 0px 5px rgb(74, 95, 123);
}

.servives .card img {
    display: block;
    width: 25%;
    margin: 0.75rem auto;
}

.card span {
    font-weight: 600;
    display: block;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
}

.card p {
    line-height: 25px;
}

/*testimonials*/

.testimonials {
    margin: 60px auto;
    width: 80%;
}

.testimonials span {
    font-weight: 800;
}

.testimonials>p:nth-of-type(1) {
    font-weight: 800;
    font-size: 2rem;
}

.testimonials>p:nth-of-type(2) {
    margin-bottom: 60px;
}

.testimonials>div {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    grid-template-rows: minmax(0px, 100%);
    gap: 20px;
    align-items: center;
}

.testimonials .cards {
    background-color: var(--light);
    color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 3px var(--light);
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.testimonials .cards div {
    border: 2px solid var(--bg);
    margin: 10px;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
    padding: 10px;
    width: 40px;
}

.testimonials .cards img {
    width: 100%;
    height: 100%;
}

.testimonials>p:nth-of-type(2) {
    line-height: 25px;
}

.testimonials .cards p:nth-of-type(1) {
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    min-height: 45%;
    margin-bottom: 0;
}

/**/

.subscribe {
    width: 80%;
    margin: 80px auto;
    text-align: center;
    padding: 40px 0;
}

.subscribe p:nth-of-type(1) {
    font-weight: 700;
    font-size: 2rem;
}

.subscribe p:nth-of-type(2) {
    width: 70%;
    margin: 0 auto;
    line-height: 25px;
}

.subscribe form {
    margin: 4rem auto;
}

.subscribe form input {
    border: none;
    padding: 10px 20px;
    outline: none;
    color: var(--bg);
}

.subscribe form input[type="email"] {
    background-color: var(--light);
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}

.subscribe form input[type="submit"] {
    margin-left: -6px;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    background-color: var(--light);
    cursor: pointer;
    transition: .3s;
}

/**/

footer {
    margin-top: 80px;
    background-color: var(--footer);
    padding: 20px 0;
}

footer .social {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.social svg {
    width: 30px;
    margin: 0 10px;
}

.copyright {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    color: rgb(112, 137, 172);
    justify-content: space-between;
    border-top: 1px solid var(--bg);
}

.copyright a {
    color: rgb(112, 137, 172);
    transition: .5s;
}

.copyright a:hover {
    color: var(--light);
}

.scroll {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    animation-name: toTop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: none;
}

.scroll:hover {
    fill: var(--light);
}

@keyframes toTop {
    50% {
        bottom: 20px;
    }
}

/* Large devices */

@media only screen and (max-width: 992px) {
    .hero>div {
        width: 90%;
    }
    .hero img {
        width: 70%;
    }
    .hero>div>div {
        margin-left: 15px;
    }
    .servives, .testimonials {
        width: 98%;
    }
    .bodybuilding>div>div {
        width: 90%;
    }
    .testimonials>div {
        gap: 5px;
    }
    .testimonials .cards {
        padding: 10px;
    }
}

/* Medium devices */

@media only screen and (max-width: 768px) {
    .hero>div {
        margin: 15px auto;
        grid-template-columns: minmax(0px, 100%);
        grid-template-rows: repeat(2, minmax(50%, 100%));
    }
    .hero>div>div {
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .hero img {
        grid-row: 1/2;
        width: 40%;
    }
    .hero h1 {
        margin: 20px 0;
    }
    .hero a {
        width: 25%;
    }
    .servives, .testimonials {
        width: 80%;
    }
    .servives div {
        grid-template-columns: 1fr;
    }
    .bodybuilding {
        clip-path: polygon(0px 50px, 100% 0%, 100% calc(100% - 50px), 0% 100%);
    }
    .testimonials>div {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        grid-template-rows: repeat(2, minmax(0px, 100%));
        gap: 15px;
    }
}

/* small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .hero>div>div {
        margin-left: 0;
    }
    .testimonials>div {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .testimonials .cards {
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    .hero a {
        width: 80%;
    }
    .bodybuilding {
        clip-path: none;
    }
    .bodybuilding .app {
        width: 100%;
    }
    .btns a {
        display: block;
        margin-top: 10px;
    }
    .servives, .subscribe {
        width: 90%;
    }
    .subscribe form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscribe form input {
        -webkit-border-radius: 15px !important;
        -moz-border-radius: 15px !important;
        border-radius: 15px !important;
        display: block;
        margin-top: 10px;
        width: 90%;
    }
    .copyright p {
        margin: 0 auto;
        margin-top: 15px;
    }
}